/* importing google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* reset default margin padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared classes */
.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.btn:hover{
    background-color: #001931;
    transition: 0.3s ease;
}


/* Individual classes */

header nav {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    line-height: 152%;
    opacity: 90%;
}

