/* importing google font and cdns */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* reset default margin padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared classes */
.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

/* buttons degsign */
.btn1 {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btn1 i{
    margin-left: 10px;
}

.btn1:hover {
    background-color: #00305d;
    transition: 0.3s ease;
}

.btn2 {
    padding: 16.5px 16px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btn2 i{
    margin-right: 10px;
}
.btn2:hover {
    border: 1px solid #30B868;
    color: #30B868;
    transition: 0.3s ease;
}

.btn3 {
    padding: 8px 12px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #469165;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.btn3:hover {
    color: white;
    background-color: #469165;
    transition: 0.3s ease;
}

.green {
    color: #30B868;
}







/* Individual classes */

header nav {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    line-height: 152%;
    opacity: 90%;
}

#banner {
    background:
        linear-gradient(#00193139),
        url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 674px;
    margin: 0 auto;
    text-align: center;
}

#banner .banner-content {
    padding: 115px 0 180px;
}

#banner .banner-content .banner-txt {
    padding: 16px 0;
    color: white;
}

#banner .banner-content .banner-txt h1 {
    text-transform: capitalize;
    opacity: 90%;
    font-size: 72px;
    line-height: 84px;
}

#banner .banner-content .banner-txt p {
    font-size: 18px;
    line-height: 24px;
    max-width: 675px;
    margin: 16px auto;
}

#banner .banner-content .btn1 {
    padding: 16.5px 16px;
    margin-right: 16px;
}

#note {
    padding-top: 60px;
    text-align: center;
}

#note h2,
#brain .container .brain-content h2 {
    color: #001931;
    font-size: 48px;
    text-transform: capitalize;
}

#note p, .access-content p {
    color: #627382;
    padding-top: 16px;
    line-height: 20px;
}

#note .note-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

#note .note-cards .note-card {
    max-width: 300px;
    padding: 40px 24px;
    box-shadow: 0 0px 10px 0 #00000015;
    border-radius: 5px;
}

#note .note-cards .note-card img {
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
}

#note .note-cards .note-card h3 {
    color: #001931;
    font-size: 24px;
    text-transform: capitalize;
    padding: 14px 0;
}


#brain, #early-access{
    padding-top: 120px;
}

#brain .container {
    display: flex;
}

#brain .container .brain-content {
    padding: 60px 0 60px 60px;
}

.brain-content .green-txt {
    font-weight: 500;
    text-transform: uppercase;
    color: #30B868;
    padding: 0 0 16px;
}
.brain-content .sub-txt{
    max-width: 445px;
    color: #627382;
    padding-top: 16px;
    line-height: 20px;
}


.brain-content .check-content{
    padding-top: 40px;
}

.brain-content .check-content .check-txt{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.brain-content .check-content .check-txt p{
    display: inline;
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 6px;
}

#early-access .container{
    background-color: #F7F6F2;
    border-radius: 12px;
}

#early-access .container .access-content{
    max-width: 610px;
    text-align: center;
    padding: 80px 0;
    margin: 0 auto;
}

.access-content h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.access-content .btn1{
    margin-top: 24px;
}



